accelerate>=0.16.0
torchvision
transformers>=4.37.0
datasets
ftfy
tensorboard
Jinja2
git+https://github.com/huggingface/peft.git
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability